*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    margin-bottom: 20px;
}
html{
    font-family: sans-serif;
}
   
    
.container{
    width: 800px;
    margin: 0 auto;
    padding: 24px;
}
h1{
    color: #fff;
    font-weight: 600;
    font-size: 40px;

}
#header{
    padding: 30px 0 40px;
    background-color: #663399;
    padding: 24px;
}
.title{
    font-size:  28px; 
    font-weight: bold;
}
#container{
    margin: 0 auto;
    display: block;
}
.table1{
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius:  7px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
.table1 h2 {
    color:rebeccapurple;
    font-size: 20px;
    
}
.table1 h2 span {
    padding: 5px;
    background-color: #eddbff;
    border-radius: 4px;
    font-style: italic;
    font-size: 20px;
}
.table1 p {
    margin-bottom: 18.4px;
    color: #757575;
    line-height: 1.5;
}
.table1 a {
    text-decoration:none;
    color: #fff;
    background-color: rebeccapurple;
    padding: 8px 16px;
    border-radius: 4px;
}


#footer{
border-top: 2px solid rebeccapurple;
}